@charset "utf-8";

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// Reset
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

body,div,pre,p,blockquote,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre,
form,fieldset,input,textarea,select,option,table,th,td,tr,embed,object{
	margin:0;
	padding:0;
}

li{list-style-type:none;}
fieldset,table,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// Body
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

body{
	text-align:left;
	background:url(../images/body_bg.gif) center top repeat-y;
}

h1,h2,h3,h4,h5,h6,p,li,dt,dd,form,pre,td,th,label,div{
	color:#333333;
	font-size:90%;
	line-height:160%;
}

div p,div li,div dt,div dd,div form,div pre,div td,div th,div label,
div div,div h1,div h2,div h3,div h4,div h5,div h6,
p p,p li,p dt,p dd,p from,p pre, p td,p th,p label,p div,
li p,li li,li dt,li dd,li from,li pre,li td,p th,li label,li div,li h3,
td p,td li,td dt,td dd,td from,td pre,td td,td th,td label,td div,
th p,th li,th dt,th dd,th from,th pre,th td,th th,th label,th div,
label p,label li,label dt,label dd,label form,label pre,label td,label th,label div,
form th,form td{
	font-size:100%;
}

a{overflow:hidden;}
a:link{color: #438dc3; text-decoration:underline;}
a:visited{color: #438dc3; text-decoration:underline;}
a:hover{color: #438dc3; text-decoration:none;}
a:active{color: #438dc3; text-decoration:none;}

body,h1,h2,h3,h4,h5,h6,td,th,p,div,input,textarea,pre,ul,li,ol{
	font-family:'ＭＳ Ｐゴシック','メイリオ','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Meiryo,sans-serif;
	font-weight:normal;
}

* html body *{
	vertical-align:baseline;
}

body img {vertical-align:top;}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// header
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#header{
	width:100%;
	padding-bottom:9px;
	background:url(../images/head_bg.gif) left bottom repeat-x #62646f;

}

#header #main_img{
	width:100%;
	text-align:center;
	background:#010101;
	margin-bottom:25px;
}


#header #fla_bg{
	width:700px;
	height:756px;
	margin:0 auto 26px;
	background:url(../images/main_bg.gif) left bottom repeat-x;
}

#header ul{
	width:900px;
	margin:auto;
}
#header li{
	float:left;
	margin-right:30px;
	padding-top:45px;
}

.tw {
	margin-top:6px;
	
}
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// section01
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#section01{
	width:100%;
	padding:50px 0;
}
#section01 .con_box{
	width:950px;
	margin:auto;
}

#section01 dl{
	margin-top:20px;
	padding-bottom:5px;
	border-bottom:dotted 1px #7a7a7a
}
#section01 dt{width:95px;float:left;}
#section01 dd{width:855px;float:left;}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// section02
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#section02{
	width:100%;
	padding:50px 0;
	background:url(../images/bg01.gif) left top repeat-x #949ba8;
}
#section02 .con_box{
	width:950px;
	margin:auto;
}

#section02 .txt_area{margin-bottom:50px;}
#section02 .txt_area p{
	text-align:center;
	margin-top:25px;
}

#section02 #about li{
	float:left;
	margin-right:70px;
}




#section02 .infobox{
	width:800px;
	margin:0 auto 30px;
}

#section02 .infobox .left{
	width:285px;
	float:left;
}

#section02 .infobox .right{
	width:515px;
	float:right;
}

#section02 .infobox dt,
#section02 .infobox dd{margin-bottom:7px;}

#section02 .sicho{
	margin-left:5px;
}

#section02 .sicho img{margin-top:-2px;}

#section02 #about01,
#section02 #about02{position:relative}

#section02 .sicho01{
	position:absolute;
	left:180px;
	top:387px;
}

#section02 .sicho02{
	position:absolute;
	left:180px;
	top:416px;
}

#sicho01,#sicho02,
#sicho03,#sicho04,
#sicho05,#sicho06,
#sicho07,#sicho08,
#sicho09,#sicho10,
#sicho11,#sicho12,
#sicho13,#sicho14,
#sicho15,#sicho16,
#sicho17,#sicho18 {
	position:absolute;
	left:-9999px;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// section03
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#section03{
	width:100%;
	padding:50px 0;
	background:url(../images/bg02.gif) left top repeat-x #91a1b0;
}
#section03 .con_box{
	width:950px;
	margin:auto;
}

#section03 .txt_area{
	background:#91a1b0;
	padding:10px;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// section04
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#section04{
	width:100%;
	padding:50px 0;
	background:url(../images/bg03.gif) left top repeat-x #cccccc;
}
#section04 .con_box{
	width:950px;
	margin:auto;
}

#section04 ul{
	width:950px;
	margin-top:45px;
}

#section04 li{
	width:310px;
	margin-right:10px;
	float:left;
	padding-bottom:44px;
	background:url(../images/bg04.gif) left bottom repeat-x #cccccc;
}

#section04 li.cm{
	margin-left:320px;
	float:none;
}

#section04 li p{
	text-align:center;
	color:#fff;
	margin:0 0 20px;;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// section05
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#section05{
	width:100%;
	padding:50px 0;
	background:url(../images/bg05.gif) left top repeat-x #4e4e4e;
}
#section05 .con_box{
	width:950px;
	margin:auto;
}

#section05 h3{
	margin-bottom:15px;
}

#section05 #l_jacket{
	width:585px;
	margin:0 auto 40px;
}

#section05 #l_jacket li.float_l{
	width:297px;
}
#section05 #l_jacket li.float_r{
	width:265px;
}

#l_album_box{
	background-color:#000000;
}

#l_album_box .lBoxInside {
	padding:30px 0px 40px 0px;
	width:940px;
	margin:auto;

}

#l_album_box .lBoxInside h4,
#l_album_box .lBoxInside p,
#l_album_box .lBoxInside dt,
#l_album_box .lBoxInside dd{color:#fff;}

#l_album_box h4{
	font-size:130%;
}
#section05 #l_album_box h4,
#section05 #l_album_box p,
#section05 #l_album_box dt,
#section05 #l_album_box dd{color:#fff;}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// section06
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#section06{
	width:100%;
	padding:50px 0 20px;
	background:url(../images/bg06.gif) left top repeat-x #fff;
}
#section06 .con_box{
	width:950px;
	margin:auto;
}

#section06 .sicho{
	margin-left:5px;
	vertical-align:3px;
}

#section06 h3{margin-bottom:7px;}
#section06 dl{margin-bottom:40px;}
#section06 dt,#section06 dd{margin-bottom:7px;}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// pagetop
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

#pagetop{
	width:100%;
	padding:10px 0;
	background:#666666;
	text-align:center;
}


body{
	position:relative;
}

#pagetop_bottom{
	position:fixed;
	left:100%;
	top:100%;
	z-index:100;
	margin-left:-70px;
	margin-top:-70px;
}


#footer{
	width:100%;	
	padding:20px 0;
	text-align:center;
	background:#000000;
}

#footer address{
	color:#fff;
	font-size:80%;
	font-style:normal;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// 共通モジュール
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// テキスト
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

.bold{font-weight:bold;}
.normal{font-weight:normal;}

.small{font-size:88%;}
.x-small{font-size:80%;}

.txt_l{text-align:left;}
.txt_r{text-align:right;}
.txt_c{text-align:center;}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// フロート
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

.float_l{float:left;}
.float_r{float:right;}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// フロート リスト用
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

.li_float li{float:left;}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// マージン設定
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

.m_auto{margin-left:auto !important;margin-right:auto !important;}

.m_10{margin:10px;}

.m_t0{margin-top:0px !important;}.m_t5{margin-top:5px !important;}
.m_t10{margin-top:10px !important;}.m_t15{margin-top:15px !important;}
.m_t20{margin-top:20px !important;}.m_t25{margin-top:25px !important;}
.m_t30{margin-top:30px !important;}
.m_t40{margin-top:40px !important;}

.m_b0{margin-bottom:0px !important;}.m_b5{margin-bottom:5px !important;}
.m_b10{margin-bottom:10px !important;}.m_b15{margin-bottom:15px !important;}
.m_b20{margin-bottom:20px !important;}.m_b25{margin-bottom:25px !important;}
.m_b30{margin-bottom:30px !important;}
.m_b40{margin-bottom:40px !important;}

.m_r0{margin-right:0px !important;}.m_r5{margin-right:5px !important;}
.m_r10{margin-right:10px !important;}.m_r15{margin-right:15px !important;}
.m_r20{margin-right:20px !important;}.m_r25{margin-right:25px !important;}
.m_r30{margin-right:30px !important;}


.m_l0{margin-left:0px !important;}.m_l5{margin-left:5px !important;}
.m_l10{margin-left:10px !important;}.m_l15{margin-left:15px !important;}
.m_l20{margin-left:20px !important;}.m_l25{margin-left:25px !important;}
.m_l30{margin-left:30px !important;}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// パディング設定
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

.p_0{padding:0 !important;}
.p_5{padding:5px !important;}
.p_10{padding:10px !important;}
.p_15{padding:15px !important;}
.p_20{padding:20px !important;}
.p_30{padding:30px !important;}

.p_t0{padding-top:0px !important;}.p_t5{padding-top:5px !important;}
.p_t10{padding-top:10px !important;}.p_t15{padding-top:15px !important;}
.p_t20{padding-top:20px !important;}.p_t25{padding-top:25px !important;}
.p_t30{padding-top:30px !important;}

.p_b0{padding-bottom:0px !important;}.p_b5{padding-bottom:5px !important;}
.p_b10{padding-bottom:10px !important;}.p_b15{padding-bottom:15px !important;}
.p_b20{padding-bottom:20px !important;}.p_b25{padding-bottom:25px !important;}
.p_b30{padding-bottom:30px !important;}

.p_r0{padding-right:0px !important;}.p_r5{padding-right:5px !important;}
.p_r10{padding-right:10px !important;}.p_r15{padding-right:15px !important;}
.p_r20{padding-right:20px !important;}.p_r25{padding-right:25px !important;}
.p_r30{padding-right:30px !important;}

.p_l0{padding-left:0px !important;}.p_l5{padding-left:5px !important;}
.p_l10{padding-left:10px !important;}.p_l15{padding-left:15px !important;}
.p_l20{padding-left:20px !important;}.p_l25{padding-left:25px !important;}
.p_l30{padding-left:30px !important;}.p_l40{padding-left:40px !important;}
.p_l50{padding-left:50px !important;}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+// ContentClear
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

* html .clearfix{height:1%;}
*:first-child+html .clearfix{height:1%;}

/*\*//*/
.clearfix{
	display: inline-table;
}
/**/




.line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;	
	margin:20px 0px 20px 0px;
}