@charset "utf-8";

/* clearfix */
.cf {
	zoom: 1;
}
.cf:before,.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
/* IE6 */
* html .cf {
	zoom: 1;
}
/* IE7 */
*:first-child+html .cfx {
	zoom: 1;
}


html {
	height: 100%;
}
body {
	text-align: center;
	background-color: #FFFFFF;
	z-index: -1;
	font-size: 14px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
button:active,button:focus {
	outline: none;
}
img,abbr,acronym,fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
}
p {
	word-wrap: break-word;
	line-height: 1.4;
}
textarea {
	resize: none;
}
input {
	display: inline-block;
}
ul {
	list-style: none;
}
select,input[type="text"],input[type="password"],input[type="search"] {
	font-size: 14px;
	padding: 0 5px;
	border: 1px solid #c5cbcb;
	background: #ffffff;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
input[type="text"].form-error {
	border: 1px solid #ea1717;
}
input[type="submit"],
button {
	background: transparent none;
	border: none;
	display: inline-block;
}
input[type="password"].form-error {
	border: 1px solid #ea1717;
}
input[type="radio"] {
	vertical-align: 1px;
}
input[type="checkbox"] {
	vertical-align: -2px;
}
textarea {
	display: block;
	border: 1px solid #c5cbcb;
	background: #ffffff;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
textarea.form-error {
	border: 1px solid #ea1717;
}
.placeholder {
	color: #AAA;
}
:-ms-input-placeholder {
	color: #AAA;
}
::--webkit-input-placeholder {
	color: #AAA;
}
:-moz-placeholder {
	color: #AAA;
}
div.error{
	margin-bottom: 30px;
	padding: 7px 10px;
	font-size: 12px;
	color: #ea1717;
	background: #fae5e5;
}
div.error-message {
	clear: left;
	margin: 7px 0px;
	font-size: 13px;
	color: #ea1717;
}
p.error-message {
	clear: both;
	padding: 5px 0;
	color: #ea1717;
}
form {
	display: inline;
}
span.list {
	margin: 0 5px;
	font-size: 10px;
	color: #999;
}
span.red {
	color: #ff0000;
	margin: 10px;
}



/*link
---------------------------------------------------------------------------*/
a:link {
	color: #5373A6;
	text-decoration: none;
}
a:visited {
	color: #5373A6;
}
button a:link {
	color: #FFF;
}
button a:visited {
	color: #FFF;
}
a:hover,
input[type="submit"]:hover,
button:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
a.focusLink {
	position: relative;
	top: 1px;
}


/*main
---------------------------------------------------------------------------*/
div#wrap {
	width: 100%;
	min-height: 100%;
	height: auto;
	min-width: 950px;
}
div#nav_wrap {
	z-index: 1;
	width: 100%;
	height: 70px;
}
ul#nav {
	z-index: 2;
	width: 950px;
	height: 70px;
	position: relative;
	top: -35px;
	margin: 0 auto;
}
div#nav_under {
	z-index: 3;
	height: 35px;
	width: 100%;
	position: relative;
	top: 35px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#FFFFFF),
		to(#E9E9E9));
	background: -moz-linear-gradient(
		center top,
		#FFFFFF,#E9E9E9);
	/* IE8-9 */  
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E9E9E9', GradientType=0)";
	 
	/* IE10 */  
	background: linear-gradient(to bottom,  #FFFFFF,  #E9E9E9); 
	
	/* IE11 */
	background: -ms-linear-gradient(top,  #FFFFFF,  #E9E9E9);
}
div#main {
	width: 1150px;
	min-height: 100%;
	margin: 0 auto;
	background: url(../img/background.jpg) no-repeat;
	padding-top: 45px;
	padding-bottom: 55px;
}

/*font
---------------------------------------------------------------------------*/
.font_10 {
	font-size: 10px;
}
.font_12 {
	font-size: 12px;
}
.font_14 {
	font-size: 14px;
}
.font_16 {
	font-size: 16px;
}
.font_18 {
	font-size: 18px;
}
.font_20 {
	font-size: 20px;
}
.ridge {
	border-bottom: ridge;
}
.groove {
	border-bottom: groove 1px;
}
.dotted {
	border-bottom: dotted;
}
a.under_link {
	text-decoration: underline;
}