/*entry1,2
---------------------------------------------------------------------------*/
html body div#wrap {
	width: 1150px;
	margin: 0 auto;
	background: url(../img/background.jpg) no-repeat;
}
div#main.entry {
	font-size: 16px;
}
#episode dl {
	width: 800px;
	margin: 0 auto;
	margin-top: 45px;
	border: solid 1px #E6E6E6;
	background: #FFF;
}
#episode dl dt {
	width: 249px;
	height: 70px;
	line-height: 70px;
	font-size: 16px;
	text-align: center;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	float: left;
}
#episode dl dd {
	width: 510px;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	border-bottom: solid 1px #E6E6E6;
	float: left;
}
#episode dl dd input {
	width: 400px;
	height: 30px;
	font-size: 16px;
}
#episode dl dd input.name {
	width: 250px;
}
#episode dl dt.epi_title {
	height: 40px;
	line-height: 20px;
	padding: 15px 0;
}
#episode dl dt.dt_last {
	height: 440px;
	border-bottom: none;
}
#episode dl dd.dd_last {
	height: 400px;
	padding: 20px;
	line-height: 20px;
	border-bottom: none;
}
#episode dl dd.dd_last textarea {
	width: 400px;
	height: 400px;
}
#episode .entry_btn2,
#episode .edit_btn {
	width: 186px;
	height: 46px;
	margin-left: 178px;
	margin-top: 45px;
	background: url(../img/entry_btn2.png);
	float: left;
}
#episode .edit_btn {
	margin-left: 200px;
	background: url(../img/edit_btn.png);
}
#episode .entry_btn2.center {
	margin: 0 auto;
	margin-top: 45px;
	float: none;
}
#episode .entry_btn2 a,
#episode .edit_btn a {
	width: 186px;
	height: 46px;
	display: block;
}
#episode .entry_btn2:hover,
#episode .edit_btn:hover {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}

/*entry3
---------------------------------------------------------------------------*/
div#main.entry3 p {
	font-size: 18px;
	text-align: center;
	margin: 150px 0;
}