/*footer
---------------------------------------------------------------------------*/
#footer {
	width: 100%;
	height: 55px;
	position: relative;
	margin-top: -55px;
	background: #E05A99;
}
#footer .copy {
	font-size: 12px;
	line-height: 55px;
	text-align: center;
	font-style: normal;
	color: #FFF;
}
