/*header
---------------------------------------------------------------------------*/
#header {
	width: 100%;
	background: #FFFFFF;
}
#header #main_image {
	width: 880px;
	height: 665px;
	margin: 40px auto;
	background: url(../img/top_image.jpg) no-repeat;
}