/*news
---------------------------------------------------------------------------*/
div#main #news {
	width: 950px;
	margin: 0 auto;
	margin-bottom: 55px;
}
div#main #news_title {
	width: 950px;
	height: 44px;
	background: url(../img/bar_news.jpg);
}
#news dl {
	margin: 0 auto;
}
#news dl dt {
	width: 100px;
	padding-top: 25px;
	padding-bottom: 9px;
	border-bottom: dotted 1px #7A7A7A;
	float: left;
}
#news dl dd {
	width: 850px;
	padding-top: 25px;
	padding-bottom: 9px;
	border-bottom: dotted 1px #7A7A7A;
	float: left;
}

/*episode
---------------------------------------------------------------------------*/
div#main #episode {
	width: 950px;
	margin: 0 auto;
	margin-bottom: 55px;
}
div#main #episode #episode_title {
	width: 950px;
	height: 44px;
	background: url(../img/bar_episode.jpg);
}
div#main #episode .episode_text {
	margin: 0 auto;
	margin-top: 20px;
}
div#main #episode .entry_btn {
	width: 364px;
	height: 46px;
	margin: 0 auto;
	margin-top: 45px;
	background: url(../img/entry_btn.png);
}
div#main #episode .entry_btn a {
	width: 364px;
	height: 46px;
	display: block;
}
div#main #episode .entry_btn:hover {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}

/*spot
---------------------------------------------------------------------------*/
div#main #spot {
	width: 950px;
	margin: 0 auto;
	margin-bottom: 35px;
}
div#main #spot #spot_title {
	width: 950px;
	height: 44px;
	background: url(../img/bar_spot.jpg);
}
div#main #spot li.over {
	margin-top: 25px;
	float: left;
	margin-right: 8px;
}
div#main #spot ul li p {
	text-align: center;
	margin: 10px 0;
}

/*about
---------------------------------------------------------------------------*/
div#main #about {
	width: 950px;
	margin: 0 auto;
	margin-bottom: 40px;
}
div#main #about #about_title {
	width: 950px;
	height: 44px;
	background: url(../img/bar_about.jpg);
}
div#main #about .about_1 {
	margin: 0 auto;
	margin-top: 32px;
}
div#main #about .about_2 {
	margin: 0 auto;
	margin-top: 12px;
}
div#main #about .about_3 {
	margin: 0 auto;
	margin-top: 20px;
}
div#main #about .about_4 {
	margin: 0 auto;
	margin-top: 10px;
}
div#main #about .about_5 {
	margin: 0 auto;
	margin-top: 18px;
}
div#main #about .cd1 {
	width: 790px;
	margin: 0 auto;
	margin-top: 45px;
}
div#main #about .first {
	margin-top: 100px;
}
div#main #about .cd1 .left {
	width: 285px;
	float: left;
}
div#main #about .cd1 .left .cd_wrap {
	width: 264px;
	height: 262px;
	border: solid 1px #E6E6E6;
	background: #FFF;
}
div#main #about .cd1 .right {
	width: 505px;
	float: left;
	position: relative;
}
div#main #about .ver {
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
}
div#main #about .cd1 .right .sicho01 {
	position: absolute;
	left: 178px;
	top: 140px;
}
div#main #about .cd1 .right .sicho02 {
	position: absolute;
	left: 118px;
	top: 167px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
}
div#main #about .cd1 .cd_margin {
	position: relative;
	top: 50%; 
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/*tokuten
---------------------------------------------------------------------------*/
#main .tokuten {
	margin: 0 auto;
	padding-bottom: 72px;
}