li.news_menu,
li.news_menu:hover {
	width: 120px;
	height: 45px;
	margin: 20px 25px 5px 0;
	float: left;
	background: url(../img/news_menu.png);
}
li.news_menu:hover {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}
li.episode_menu,
li.episode_menu:hover {
	width: 272px;
	height: 45px;
	margin: 20px 25px 5px 25px;
	float: left;
	background: url(../img/episode_menu.png);
}
li.episode_menu:hover {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}
li.spot_menu,
li.spot_menu:hover {
	width: 160px;
	height: 45px;
	margin: 20px 25px 5px 25px;
	float: left;
	background: url(../img/spot_menu.png);
}
li.spot_menu:hover {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}
li.about_menu,
li.about_menu:hover {
	width: 220px;
	height: 45px;
	margin: 20px 0 5px 25px;
	float: left;
	background: url(../img/about_menu.png);
}
li.about_menu:hover {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}
.under_line {
	width: 100%;
	height: 2px;
	position: relative;
	top: 1px;
	background: #B6B8BA;
}